<% provide(:pageTitle, "The Minimalist Entrepreneur | Ratings") %>

<br><br>
<div class="parent">
  <div class="c-one">C-ONE</div>
  <div class="c-two">C-TWO</div>
</div>

<script>
    $(".c-two").append($("<span>", { text: "<YO>"}))
</script>