<% provide(:pageTitle, "The Minimalist Entrepreneur | Ratings") %>

<h1>The Minimalist Entrepreneur</h1>

<div>
  <span id="average-rating"></span>
  <span id="average-rating-stars"></span>

  <button id="add-review-btn">Add review</button>
</div>

<hr>

<h2>Reviews</h2>

<ul id="review-list">
  <li><h2>LOADING...</h2></li>
</ul>

<div id="new-rating-form">
  <h1>What's your rating?</h1>

  <h3>Rating</h3>
  <span id="new-rating-stars">
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
    <span class="star"></span>
  </span>

  <h3>Review</h3>
  <textarea id="new-rating-textarea" cols="30" rows="10" placeholder="Start typing..."></textarea>

  <br>
  <br>
  <button id="new-rating-submit-btn">Submit review</button>
</div>
