@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$base-text-color-black: #000000;
$base-text-color-gray: #797874;
$roboto-font: 'Roboto';
$roboto-font-family: $roboto-font, sans-serif;
$helvetica-neue-font-family: Helvetica Neue, Helvetica, serif;

body {
  animation: fadein 1s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}