<h1>Editing Review</h1>

<%= render 'form', review: @review %>

<%= link_to 'Back', root_path %> |
<%= link_to 'Destroy', @review, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'New Review', new_review_path %>