<% provide(:pageTitle, "#{@product.name} | Reviews") %>

<noscript>You need to enable JavaScript to run this app.</noscript>
<div
  id="root"
  data-product-slug="<%= @product.slug %>"
  data-product-name="<%= @product.name %>"
></div>


<%= javascript_pack_tag 'reviews' %>